/* GLOBAL */
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}
body {
    background-color: #bdc3c7;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.nav-brand{
    color: #e74c3c;
}
a {
    color: black;
}
h3 {
    border-bottom: 2px solid #e74c3c;
}
.italic {
    font-style: italic;
}
.main {
    margin-top: 70px;
}
.table th {
    border-color: #1d1d1d;
}
.table tbody {
    border-color: #1d1d1d;
}
.table td {
    border-color: #1d1d1d;
}
.slim-table {
    width: 60%;
    margin: 0 auto;
}
footer {
    margin-top: auto;
    text-align: center;
}
/* END GLOBAL */

/* RANK STYLES */
.movie-poster-container-lg {
    vertical-align: top;
    width: auto;
}
.movie-poster-lg {
    margin: 0 15px 5px 0;
    width: 250px;
    height: auto;
    float: left;
    box-shadow: 3px 4px 8px #1d1d1d;
}
.dropdown {
    display: inline-block;
}
.rank {
    color: #e74c3c;
}
/* RANK END */

/* MOVIE STYLES */
.movie-poster-container-sm {
    vertical-align: top;
    text-align: center;
    width: 95px;
    height: auto;
    margin: 5px;
    font-size: 10px;
    display: inline-block;
}
.movie-poster-sm {
    width: 90px;
    height: auto;
}
.movie-poster-container {
    box-sizing: border-box;
    position: relative;
    width: 130px;
    height: auto;
    margin: 5px;
    display: inline-block;
    border: 4px solid #ecf0f1;
    border-radius: 2px;
    box-shadow: 2px 3px 8px #1d1d1d;
}
.rank-number {
    position: absolute; 
    margin-left: 3px;
    font-weight: bold;
    color: black;
}
.corner-triangle {
    position: absolute; 
    height: 0;
    width: 0;
    border-top: 60px solid #ecf0f1;
    border-right: 60px solid transparent;
}
.movie-poster-rank {
    width: 122px;
    height: auto;
}
.movie-poster-container:hover {
    border-color: #f39c12;
}
.movie-poster-container:hover .corner-triangle  {
    border-top: 60px solid #f39c12;
}
.movie-poster-container:hover .rank-number  {
    font-size: larger;
}
.average {
    padding: 2px 6px;
    margin-bottom: 2px;
}
.review {
    font-size: small;
}
/* MOVIE END */

/* USER STYLES */
.register-login {
    line-height: 1;
    width: 75%;
    margin: 0 auto;
}
.user-table {
    width: 50%;
    text-align: center;
    margin: 0 auto;
}

#hint_id_username, #hint_id_password1, #hint_id_password2 {
    display: none;
}
/* USER END */






