.title {
    
    // title list
    &__img__container {
        width: 100%;
    }

    &__img {
        width: 100%;
    }
    
    // title detail
    &__detail__img__container {
        transition: all .2s;
        margin-right: 2rem;
        width: 20rem;

    }

    &__detail__img {
        width: 100%;
        border-radius: .4rem;
        transition: all .2s;

    }
}