a:link,
a:visited {
    cursor: pointer;
    text-decoration: none;
}

.header {
    
    a {
        color: $secondary-light-1;
    }
    
}

.title__list, .title__review__text, .title__review__date {
    a {
        color: black;
    }
}

.title__detail__button, .title__review__username, .title__review__rank {
    color: $secondary-light-1;
}

.table__link:link,
.table__link:visited {
    color: $secondary-light-1;
}