.header {
    position: fixed;
    z-index: 10;
    width: 100%;
    display: flex;
    align-items: center;
    background: $raisin-black;
    height: 5rem;
    box-shadow: 0 2px 5px black;
    padding: 0 2rem;

    .logo {

        &__red {
            color: $fiery-rose;
        }

        &__box {
            margin-right: 3rem;
        }
    }

    .navigation {
        height: 100%;

        &__list {
            list-style: none;
            display: flex;
            height: 100%;

            &--item {
                height: 100%;
                padding: 0 1rem;
                display: flex;
                transition: all .2s;

                &:hover {
                    background: $fiery-rose;
                }
            }
        }

        &__link {
            display: flex;
            align-items: center;
            justify-content: center;
            align-self: stretch;
            height: 100%;
            width: 100%;
        }
    }
}