.header {
    display: flex;
    align-items: center;
    background: $primary;
    height: 10rem;
    padding: 2rem;
    box-shadow: 0 2px 5px black;

    .logo {

        &__box {
            margin-right: 3rem;
        }
    }

    .navigation {

        &__list {
            list-style: none;
            display: flex;

            &--item {

                &:not(:last-child) {
                    margin-right: 2rem;
                }
            }
        }
    }
}