{% extends "mcurank/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div>
    <div>
        <h1><span>MCU</span>RANK</h1>
        <form method="POST">
            {% csrf_token %}
            <fieldset>
                <legend>Welcome Back!</legend>
                {{ form|crispy }}
            </fieldset>
            <div>
                <button type="submit">Let's Go</button>
                <small><a href="{% url 'password_reset' %}">Forgot Password?</a></small>
            </div>
        </form>
        <div>
            <small>Need an account? <a href="{% url 'register' %}">Register</a></small>
        </div>
    </div>
</div>
{% endblock content %}