{% extends "mcurank/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="jumbotron register-login">
    <div class="container">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Reset Password</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-primary btn-lg" type="submit">Reset Password</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}