{% extends "mcurank/base.html" %}
{% block title %}- register{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<div class="jumbotron register-login">
    <div class="container">
        <div class="text-center">
            <h1><span class="nav-brand">MCU</span>RANK</h1>
            <p>This app will let you rank all of the MCU movies thus far, highlight your favorite moments and compare your ranks with others</p>
        </div>
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Register</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-primary btn-lg" type="submit">Assemble</button>
            </div>
        </form>
        <hr>
        <small class="text-muted">Already Assembled? <a class="ml-2" href="{% url 'login' %}">Login</a></small>
    </div>
</div>
{% endblock content %}
