{% extends "mcurank/base.html" %}
{% block title %}User / {% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<h3>{{ user.username }}'s Ranks</h3>
<table class="table table-sm table-light table-hover">
    <thead class="thead-dark">
        <tr>
            <th>Rank</th>
            <th>Movie</th>
            <th>Review</th>
        </tr>
    </thead>
    <tbody>
        {% for rank in user_ranks %}
        <tr>
            <td>{% if rank.number == None%}No
                Rank{% else %}{{ rank.number }}{% endif %}</td>
            <td><a style="color: black" href="{% url 'movie-detail' rank.movie.slug %}">{{ rank.movie.title }}</a>
            </td>
            <td style="max-width: 500px;">{{ rank.review }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}
