{% extends "marvel/base.html" %}
{% block title %}- User Directory{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<h3>User Directory</h3>
<p class="text-center">Search for other users</p>
<table class="table table-sm table-bordered table-light table-hover user-table">
    <tbody>
        {% for user in users %}
        <tr>
            <td><a href="{% url 'user-detail' user.id %}">{{ user.username }}</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}