.container {
    padding-top: 5rem;
    min-height: 100vh;
}

.messages {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
}

.main {
    padding: 0 4rem;

    .section {
        width: 100%;
        margin-bottom: 6rem;

        &__tertiary {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}

.footer {
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}