.container {
    padding-top: 5rem;
    min-height: 100vh;
}

.messages {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
}

.main {
    max-width: 120rem;
    min-height: 84vh;
    margin: 0 auto;
}

.footer {
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
}  