.container {
    max-width: 120rem;
    margin: 4rem auto;
    background: $secondary-light-1;
    box-shadow: 5px 5px 3px black;
    border-radius: 1rem;
    overflow: hidden;
}

.messages {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
}

.content__layout {
    min-height: 60rem;
    display: flex;

    .gutter {
        width: 10rem;
    }

    .main {
        flex: 1;

        .section {
            width: 100%;
            margin-bottom: 6rem;

            &__tertiary {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
    }
}

.footer {
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}