.welcome {
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
}
.highlights {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    text-align: center;
    background: $lavender-blush;

    &__item {
        width: 100%;
        height: 100%;
    }

    &__description {
        color: $lavender-blush;
        background: $raisin-black;
        padding: 1rem;
    }
}

.section {
    &__header {
        margin-bottom: 1rem;
    }
}

.title {
    &__list {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    &__container {
        position: relative;
        width: 40rem;
        height: 10rem;
        border: 5px dotted $raisin-black;
        margin-bottom: 2rem;
        color: $raisin-black;
        transition: all .3s;

        .title:link,
        .title:visited {
            color: $raisin-black;
        }

        &:hover {
            color: $lavender-blush;
            border: 5px solid $lavender-blush;

            .title:link,
            .title:visited {
                color: $lavender-blush;
            }

            .title__stat__container {
                background: $lavender-blush;
                color: $raisin-black;
            }
        }

        img {
            position: absolute;
            z-index: -2;
            width: 100%;
            height: 100%;
            filter: brightness(60%);
        }
    }

    &__text {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        text-align: center;
    }

    &__text::after {
        content: "";
        position: absolute;
        z-index: -1;
        bottom: 0;
        right: 0;
        height: 100%;
        width: 100%;
        background-color: $jet;
        transition: all .8s;
    }

    &__text:hover::after {
        width: 0;
    }

    &__stat__container {
        position: absolute;
        z-index: 2;
        left: 0;
        top: 0;
        transform: translate(-2rem, 1rem);
        background-color: $fiery-rose;
        border-radius: .4rem;
        width: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}
