.title {
    &__list {
        display: flex;
        flex-direction: column;
    }
    &__container {
        position: relative;
        width: 100%;
        border: 5px dotted $raisin-black;
        margin-bottom: 2rem;
        color: $raisin-black;
        transition: all .3s;

        .title:link,
        .title:visited {
            color: $raisin-black;
        }

        &:hover {
            color: $lavender-blush;
            border: 5px solid $lavender-blush;

            .title:link,
            .title:visited {
                color: $lavender-blush;
            }

            .title__stat__container {
                background: $lavender-blush;
                color: $raisin-black;
            }
        }

        img {
            position: absolute;
            z-index: -2;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__text {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        text-align: center;
    }

    &__text::after {
        content: "";
        position: absolute;
        z-index: -1;
        bottom: 0;
        right: 0;
        height: 100%;
        width: 100%;
        background-color: $jet;
        transition: all .8s;
    }

    &__text:hover::after {
        width: 0;
    }

    &__stat__container {
        position: absolute;
        z-index: 2;
        left: 0;
        top: 0;
        background-color: $fiery-rose;
        width: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}
