{% extends "mcurank/base.html" %}
{% block content %}
<h3>Community Ranks</h3>
<div>
    <div>
        <div>
            <div>
                {% if user.is_authenticated %}
                <span>Click a movie to create or update your rank and review!</span>
                {% else %}
                <span>Login or Register above to contribute!</span>
                {% endif %}
            </div>
            {% for movie in movies %}
            <div>
                <a href="{% url 'movie-detail' movie.slug %}">
                    <div>

                    </div>
                    <span>{{ forloop.counter }}</span>
                    <img src="{{ movie.image.url }}" alt="{{ movie.title }}">
                </a>
            </div>
            {% endfor %}
            <br>
            <small>*Ties are filtered by oldest to newest.</small>
        </div>
    </div>
</div>
{% endblock content %}