{% extends "mcurank/base.html" %}
{% block content %}

<section class="section section__secondary">
    <h2 class="section__header">Community Ranks</h2>
    <div class="title__list">
        {% for movie in movies %}
        <div class="title__container">
            <div class="title__stat__container">
                <span class="title__stat">{{ forloop.counter }}</span>
            </div>
            <img class="title__teaser" src="{{ movie.teaser.url }}" alt="{{ movie.title }}">
            <a class="title" href="{% url 'movie-detail' movie.slug %}">
                <div class="title__text">
                    <h3 class="title__header">{{ movie.title }}</h3>
                </div>

            </a>

        </div>
        {% endfor %}
    </div>
</section>

{% endblock content %}