{% extends "mcurank/base.html" %}
{% block title %} | {{ movie.title }}{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<h3>{{ movie.title }}{% if average_rank.number__avg is None %}n/a{% else %}
    {{ average_rank.number__avg|floatformat }}{% endif %}</h3>
<div>
    <div>
        <div>
            <img src="{{ movie.image.url }}" alt="{{ movie.title }}">
            <ul>
                <li>{{ movie.overview }}</li>
                <li>Release Year: {{ movie.release_date }}</li>
                <li>Phase: {{ movie.phase }}</li>
                {% if movie.active is True %}
                {% if ranked_movie is None %}
                <li><a href="{% url 'rank-create' movie.slug %}" role="button">Rank This
                        Movie!</a>
                </li>
                {% else %}
                <li><a href="{% url 'rank-update' ranked_movie.slug %}" role="button">Update
                        Rank</a>
                </li>
                {% endif %}
                {% endif %}
            </ul>
        </div>
    </div>
</div>
<div>
    <div>
        <br>
        <h3>Rank and Reviews</h3>
        <ul>
            {% for rank in movie_ranks %}
            <li>
                <div>
                    <ul>
                        <li> <a href="{% url 'user-detail' rank.user.username %}">{{ rank.user.username }}
                            </a>(<span>{% if rank.number == None%}No
                                Rank{% else %}{{ rank.number }}{% endif %}</span>)</li>
                        <li>{{ rank.review }}</li>
                        <li><small><span>Last Updated:
                                </span>{{ rank.updated_at|date:"SHORT_DATE_FORMAT" }}</small>
                        </li>
                    </ul>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock content %}