{% extends "mcurank/base.html" %}
{% block title %} | {{ movie.title }}{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<section class="section section__tertiary">
    <h3 class="title__detail__header">{{ movie.title }}</h3>
    <div class="title__detail__rank">
        <span class="title__detail__rank__text">Average Rank:</span>
        <span class="title__detail__rank__number">
            {% if average_rank.number__avg is None %}n/a{% else %}
            {{ average_rank.number__avg|floatformat }}{% endif %}
        </span>
    </div>
    <div class="title__detail">
        <div>
            <figure class="title__detail__img__container">
                <img class="title__detail__img" src="{{ movie.poster.url }}" alt="{{ movie.title }}">
            </figure>
        </div>
        <ul class="title__detail__list">
            <li class="title__detail__list--item">{{ movie.overview }}</li>
            <li class="title__detail__list--item">Released: {{ movie.release_date }}</li>
            <li class="title__detail__list--item">Phase: {{ movie.phase }}</li>
            {% if movie.active is True %}
            {% if ranked_movie is None %}
            <li class="title__detail__list--item">
                <a class="title__detail__button" href="{% url 'rank-create' movie.slug %}">Rank This Movie!</a>
            </li>
            {% else %}
            <li class="title__detail__list--item">
                <a class="title__detail__button" href="{% url 'rank-update' ranked_movie.slug %}">Update Your Rank</a>
            </li>
            {% endif %}
            {% endif %}
        </ul>
    </div>

    <h3 class="section__header">Rank and Reviews</h3>
    <div class="title__reviews">
        {% for rank in movie_ranks %}
        <div class="title__review">
            <div class="title__review__header">
                <a class="title__review__username"
                    href="{% url 'user-detail' rank.user.username %}">{{ rank.user.username }}</a>
                <span class="title__review__rank">
                    {% if rank.number == None%}
                    No Rank
                    {% else %}
                    {{ rank.number }}
                    {% endif %}
                </span>
            </div>
            <p class="title__review__text">{{ rank.review }}</p>
            <p class="title__review__date">
                <span class="title__review__date--text">Last Updated:</span>
                <span class="title__review__date--number">{{ rank.updated_at|date:"SHORT_DATE_FORMAT" }}</span>
            </p>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock content %}