<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description"
        content="This app will let you rank all of the MCU movies thus far, highlight your favorite moments and compare your ranks with others.">
    <link
        href="https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Open+Sans:wght@300;400;600;700;800&display=swap"
        rel="stylesheet">
    {% load static %}
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'mcurank/favicon_io/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'mcurank/favicon_io/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'mcurank/favicon_io/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'mcurank/favicon_io/site.webmanifest' %}">
    <link rel="stylesheet" href="{% static 'mcurank/css/style.css' %}">
    <title>mcurank {% block title %}{{ subtitle }}{% endblock %}</title>
</head>

<body>

    <header class="header">
        <h1 class="logo__box">
            <a class="logo" href="{% url 'movie-list'  %}">
                <span class="logo__red">mcu</span><span class="logo__white">rank</span>
            </a>
        </h1>
        <nav class="navigation">
            <ul class="navigation__list">
                {% if user.is_authenticated %}
                <li class="navigation__list--item"><a class="navigation__link" href="{% url 'movie-list'  %}">home</a>
                </li>
                <li class="navigation__list--item"><a class="navigation__link" href="{% url 'rank-list'  %}">ranks</a>
                </li>
                <li class="navigation__list--item"><a class="navigation__link" href="{% url 'profile' %}">profile</a>
                </li>
                <li class="navigation__list--item"><a class="navigation__link" href="{% url 'logout' %}">logout</a></li>
                {% else %}
                <li class="navigation__list--item"><a class="navigation__link" href="{% url 'movie-list'  %}">home</a>
                </li>
                <li class="navigation__list--item"><a class="navigation__link" href="{% url 'login' %}">login</a></li>
                <li class="navigation__list--item"><a class="navigation__link" href="{% url 'register' %}">register</a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <div class="container">
        <!-- messages -->
        <div class="messages">
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endfor %}
            {% endif %}
        </div>
        <!-- messages -->

        <main class="main">
            {% block content %}
            {% endblock %}
        </main>



        <footer class="footer">
            <p>This is a personal project, mcurank has no affiliation with Marvel Studios or Disney.</p>
        </footer>
    </div>

    <script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
</body>

</html>