
.header {
    font-size: 1.5rem;

    .logo {
        font-size: 3rem;
        font-weight: 400;
        font-family: 'Bowlby One SC', cursive;
    }
}

.messages {
    font-size: 1.7rem;
}

.welcome {
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: .1rem;

    .message__text:not(:last-child) {
        font-weight: 600;
        font-size: 3rem;
        text-transform: uppercase;
    }
}

.section {
    &__header {
        text-transform: uppercase;
        letter-spacing: .1rem;
        font-size: 2rem;
    }
}

.highlights {
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: .1rem;
}

.title {

    &__header {
        font-size: 1.5rem;
        font-weight: 400;
        letter-spacing: .1rem;
    }

    &__stats {
        text-transform: uppercase;
        font-size: 1rem;
        font-weight: 600;
        letter-spacing: .1rem;
    }

    &__stats__number {
        text-transform: uppercase;
        font-weight: 300;
        font-size: 2rem;
    }

    &__stats__number__hovered {
        font-size: 2.5rem;
        font-weight: 300;
        letter-spacing: .1rem;
        font-weight: 400;
    }

    &__detail__header {
        letter-spacing: .2rem;
        font-size: 4rem;
        font-family: 'Bowlby One SC', cursive;
    }

    &__detail__rank {
        font-weight: 500;
        letter-spacing: .1rem;
        font-size: 1.1rem;
        text-transform: uppercase;
    }

    &__detail__list {
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.8;
        letter-spacing: .1rem;
    }

    &__detail__button {
        text-transform: uppercase;
        font-size: 1rem;
        font-weight: 600;
    }

    &__review {
        font-size: 1.4rem;
        letter-spacing: .1rem;
        line-height: 1.8;

        &__username {
            font-size: 2rem;
            letter-spacing: .1rem;
            text-transform: capitalize;
        }

        &__rank {
            font-size: 1rem;
            letter-spacing: .1rem;
        }

        &__date {
            font-size: 1.2rem;
            letter-spacing: .1rem;
        }

    }

}
