{% extends "mcurank/base.html" %}
{% block title %}- rank list{% endblock %}
{% block content %}
<div class="row">
    <div class="col-12">
        <h3>Your Ranks</h3>
        <p class="text-center">Ranks you have made so far</p>
        {% if ranks %}
        <table class="table table-sm table-bordered table-light table-hover slim-table">
            <thead class="thead-dark">
                <tr>
                    <th>Rank</th>
                    <th>Movie</th>
                    <th class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for rank in ranks %}
                <tr>
                    <td>{% if rank.number == None%}No Rank{% else %}{{ rank.number }}{% endif %}</td>
                    <td class="text-truncate text-nowrap" style="max-width: 180px;"><a
                            href="{% url 'movie-detail' rank.movie.slug %}">{{ rank.movie.title }}</a>
                    </td>
                    <td class="text-center text-nowrap"><a class="badge badge badge-dark"
                            href="{% url 'rank-update' rank.slug %}">Update</a> <a class="badge badge badge-danger"
                            href="{% url 'rank-delete' rank.slug %}">Delete</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="text-center">
            <a href="{% url 'rank-clear-all' request.user.username %}" class="btn btn-danger m-2">Clear
                Ranks</a>
        </div>
        {% else %}
        <p>No Reviews Yet</p>
        {% endif %}
    </div>
</div>
{% endblock content %}