{% extends "mcurank/base.html" %}
{% block title %}
{% if rank.movie %} | update{% else %} | new{% endif %}
{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<section class="section section__tertiary">
    {% if rank.movie %}
    <h3 class="title__detail__header">Update {{ rank.movie.title }}</h3>
    <div class="title__detail">
        <div>
            <figure class="title__detail__img__container">
                <img class="title__detail__img" src="{{ rank.movie.poster.url }}" alt="{{ rank.movie.title }}">
            </figure>
        </div>
        <ul class="title__detail__list">
            <li class="title__detail__list--item">{{ rank.movie.overview }}</li>
            <li class="title__detail__list--item">Released: {{ rank.movie.release_date }}</li>
            <li class="title__detail__list--item">Phase: {{ rank.movie.phase }}</li>
            <li class="title__detail__list--item">
                <a class="title__detail__button" href="{% url 'rank-update' rank.movie.slug %}">Update Your Rank</a>
            </li>
        </ul>
    </div>
    {% else %}
    <h3 class="title__detail__header">Rank and Review {{ movie.title }}</h3>
    <div class="title__detail">
        <div>
            <figure class="title__detail__img__container">
                <img class="title__detail__img" src="{{ movie.poster.url }}" alt="{{ movie.title }}">
            </figure>
        </div>
        <ul class="title__detail__list">
            <li class="title__detail__list--item">{{ movie.overview }}</li>
            <li class="title__detail__list--item">Released: {{ movie.release_date }}</li>
            <li class="title__detail__list--item">Phase: {{ movie.phase }}</li>
            <li class="title__detail__list--item">
                <a class="title__detail__button" href="{% url 'rank-create' movie.slug %}">Rank This Movie!</a>
            </li>
        </ul>
    </div>
    {% endif %}
    <form method="POST">
        {% csrf_token %}
        <fieldset>
            {{ form|crispy }}
        </fieldset>
        <div>
            <button type="submit">Submit</button>
        </div>
    </form>
    <section class="section">
        <h3 class="section__header">Your Other Reviews</h3>
        <ul class="section__list">
            {% for rank in ranked_movies %}
            <li class="section__list__item"><a class="section__list__item--link"
                    href="{% url 'movie-detail' rank.movie.slug %}">{{ rank.number }} -
                    {{ rank.movie.title}}</a></li>
            {% endfor %}
        </ul>
    </section>
</section>
{% endblock content %}